[Unit]
Description=MoonTrader Core in tmux
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=ubuntu
WorkingDirectory=/home/ubuntu/MoonTrader
Environment=TERM=xterm-256color
ExecStart=/bin/bash -lc '/usr/bin/tmux has-session -t mt 2>/dev/null || /usr/bin/tmux new-session -d -s mt ./MTCore'
ExecStop=/bin/bash -lc '/usr/bin/tmux has-session -t mt 2>/dev/null && /usr/bin/tmux send-keys -t mt C-c || true'
ExecStopPost=/bin/bash -lc 'sleep 2; /usr/bin/tmux has-session -t mt 2>/dev/null && /usr/bin/tmux kill-session -t mt || true'

[Install]
WantedBy=multi-user.target
